$c-primary-100: #4A0004;
$c-primary-90: #700002;
$c-primary-80: #960300;
$c-primary-70: #BD0F06;
$c-primary-60: #E32212;
$c-primary-50: #F04F3A;
$c-primary-40: #FC7C65;
$c-primary-30: #FFA38F;
$c-primary-20: #FFECE6;
$c-primary-10: #FFECE6;

$c-black: #000000;
$c-white: #ffffff;

$c-greyscale-100: #1C1C1C;
$c-greyscale-90: #424242;
$c-greyscale-80: #696969;
$c-greyscale-70: #8F8F8F;
$c-greyscale-60: #B5B5B5;
$c-greyscale-50: #C2C2C2;
$c-greyscale-40: #CFCFCF;
$c-greyscale-30: #DBDBDB;
$c-greyscale-20: #E8E8E8;
$c-greyscale-10: #F5F5F5;

$greyscale-darkest: #1c1d21;
$greyscale-dark: #7A7A7A;
$greyscale-light: #b8bbc7;
$greyscale-lightest: #f8f8f8;

$functional-success: #5FED5C;
$functional-warning: #FFEA2D;
$functional-error: #FF6464;
$functional-highlight: #1298E3;

$text-dark: #202124;
$text-base: #202124;
$text-light: #B8B8B8;

$brand-primary: $greyscale-darkest;
$brand-dark: #040404;
$brand-light: #FFFFFF;

$icons: #202124;