<footer class="footer">
    <div class="section">
        <nav class="content">
            <div class="uk-container uk-margin-medium">
                <div class="uk-grid-row-large uk-child-width-1-2@m" uk-grid>
                    <div class="content-block">
                        <div class="brand">
                            <img src="./assets/logo-red.svg" alt="Logo" class="image">
                            <h4 class="heading">Data Centric AI <span class="text alternative">Community</span></h4>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="uk-grid-row-large uk-child-width-1-2@m" uk-grid>
                            <div class="social-links">
                                <h4 class="heading">Where to find us</h4>
                                <ul class="social-links-list">
                                    <li class="social-link"><a href="http://slack.ydata.ai/" target="_blank" class="link"><img src="./assets/slack.svg" alt="Slack"></a></li>
                                    <li class="social-link"><a href="https://github.com/ydataai" target="_blank" class="link"><img src="./assets/github.svg" alt="Github"></a></li>
                                    <li class="social-link"><a href="https://www.linkedin.com/company/ydataai" target="_blank" class="link"><img src="./assets/linkedin.svg" alt="Linkedin"></a></li>
                                    <li class="social-link"><a href="https://twitter.com/YData_ai" target="_blank" class="link"><img src="./assets/twitter.svg" alt="Twitter"></a></li>
                                </ul>
                            </div>
                            <div class="powered-by">
                                <h4 class="heading">Powered by</h4>
                                <a href="https://ydata.ai/" target="_blank"><img src="./assets/logo-ydata.svg" class="logo" alt="YData"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</footer>
