<div class="top-bar">
    <div id="scroll-feedback" class="scroll-feedback"></div>
    <header class="header top-nav">
        <a href="/" class="logo"><img src="./assets/logo-red.svg" alt="logo"></a>
        <div class="brand">
            <label><span class="text bold">Data-Centric AI</span> Community</label>
        </div>
        <nav class="nav">
            <a href="http://slack.ydata.ai/" target="_blank" class="link linear">Slack</a>
            <a href="https://github.com/ydataai" target="_blank" class="link linear">Github</a>
            <a href="#learn-more" target="_self" class="link linear">Learn More</a>            
            <a href="#newsletter" target="_self" class="link round">Newsletter</a>
        </nav>
        <button class="burguer-menu">
            <span class="burguer-item burguer-item-top"></span>
            <span class="burguer-item burguer-item-center"></span>
            <span class="burguer-item burguer-item-bottom"></span>
        </button>        
    </header>
</div>